.container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td,
  th {
    min-width: 100px; /* Ajusta según sea necesario */
    white-space: nowrap;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .delete {
    cursor: pointer;
    color: #E15639;
  }
  
  .edit {
    cursor: pointer;
    color: #1878B0;
  }
  
  .search {
    cursor: pointer;
  }
  
  .agregar {
    font-size: 10px;
    line-height: 28px;
  }
  
  .title {
    text-align: center;
    background-color: #08478C;
  }
  
  .title h1 {
    font-size: 24px;
  }
  